@font-face {
  font-family: "DungGeunMo";
  src: url("../assets/fonts/DungGeunMo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "DungGeunMo", sans-serif !important;
  background-color: black !important;
  color: #00ff00 !important;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

@media (max-width: 768px) {
  html,
  body {
    scroll-snap-type: y mandatory;
  }
}

.navbar-brand {
  color: black;
  text-shadow: 0px 0px 10px #00ff00;
  font-size: 1.3rem;
}

.nav-link {
  color: #00ff00;
  font-size: 1.1rem;
  width: 100%;
  text-align: left;
  position: relative;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #00aa00 !important;
}

.retro-hover:hover::before,
.retro-hover:focus::before,
.retro-hover:active::before {
  opacity: 1;
}

/* Home */
.typing-text {
  font-size: 3rem;
  color: #00ff00;
  text-shadow: 0px 0px 10px #00ff00;
}

.final-text {
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: 0px 0px 15px #00ff00;
  animation: fadeIn 1.5s ease-in-out;
}

@media (max-width: 480px) {
  .typing-text {
    font-size: 2rem;
  }
  .final-text {
    font-size: 2.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.scroll-text {
  font-size: 1.2rem;
  color: yellow;
  text-shadow: 2px 2px 5px black;
  margin-top: 15px;
  animation: blink 1s infinite alternate;
}

/* AboutMe */
.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px #e01073;
  object-fit: cover;
}

@media (max-width: 768px) {
  .profile {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .profile {
    width: 100px;
    height: 100px;
  }
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.neon-badge {
  display: inline-block;
  padding: 8px 15px;
  font-size: 14px;
  color: #00ff00;
  background-color: black;
  border: 1px solid #00ff00;
  box-shadow: 0 0 5px #00ff00, inset 0 0 3px #00ff00;
  text-transform: uppercase;
  font-family: "DungGeunMo", sans-serif;
  border-radius: 5px;
}

.highlight {
  background-color: rgba(0, 255, 0, 0.2);
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
}

/* Stack & Tools */
.stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.stack-item p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* Project */
.project-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .project-card-title {
    font-size: 1.1em;
  }

  .project-card-description {
    font-size: 0.9rem;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.project-sidebar {
  margin-bottom: 20px;
}

.project-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.web_preview_wrap {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: #222;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .web_preview_wrap {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .web_preview_wrap {
    max-width: 300px;
  }
}

.site_img_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.site_img {
  width: auto;
  height: auto;
  object-fit: cover;
  transition: transform 1.5s ease-in-out;
  transform: translateY(0);
  position: absolute;
  top: 0;
  left: 0;
}

.web_preview_wrap:hover .site_img {
  transform: translateY(calc(-100% + 350px));
}

.pj-button {
  padding: 8px 15px;
  width: 50%;
  font-size: 14px;
  color: #00ff00;
  background-color: black;
  border: 1px solid #00ff00;
  box-shadow: 0 0 5px #00ff00, inset 0 0 3px #00ff00;
  text-transform: uppercase;
  font-family: "DungGeunMo", sans-serif;
  border-radius: 5px;
}

.modal-header .btn-close {
  filter: invert(1);
}

.modal-header {
  background-color: black;
}

.game-over-text {
  font-size: 3.5rem;
  color: red;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}

.insert-coin {
  font-size: 2rem;
  color: yellow;
  text-shadow: 2px 2px 5px black;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.continue {
  font-size: 2rem;
  color: yellow;
  text-shadow: 2px 2px 5px black;
  animation: blink 1s infinite alternate;
}

.continue-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.yes-option,
.no-option {
  font-size: 1.8rem;
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.yes-option {
  color: yellow;
  text-shadow: 0px 0px 5px yellow;
}

.yes-option:hover {
  color: #ffcc00;
  text-shadow: 0px 0px 8px #ffcc00;
}

.no-option {
  color: gray;
}

.no-option:hover {
  color: gray;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
